<%- include ('partials/header'); -%>

<title>
    Citation Count
</title>
</head>
<body>
<% var results = data[0]["text"]%>
<% var searchdata = JSON.parse(results) %>
<% var entry = searchdata["search-results"]["entry"] %>
<% var count = entry[0]["citedby-count"] %>
<% console.log(count) %>
<% var answer = count %>
<% if (count==undefined){ %>
    <% answer = "No Results!!" %>
<% } %>
<div id="bodybox">
    <h1>
        CITATION COUNT 
    </h1>
<h1>
    <%=answer%>
</h1>
<%- include ('partials/footer.ejs'); -%>