<%- include ('partials/header'); -%>


<div id="bodybox">

  <table style="width:100%">

    <tr>

      <th>Serial Number</th>

      <th>Faculty Name</th>

      <th>Scopus Id</th>

      <th>Citation Count</th>

      <th>Detailed Information</th>

    </tr>

    <tr>

      <td>1</td>

      <td>Bill Gates</td>

      <td>55577854</td>

      <td>253</td>

      <td><a href = '/search/serial'>More info</a></td>

    </tr>

  </table>
  <div id='buttondiv'>
  <button type="submit"><a href="/addNew" > Add new </a></button>
</div>
</div>

<%- include ('partials/footer.ejs'); -%>