<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Scopus Citation Updater</title>

  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link href="/bootstrap.min.css" rel="stylesheet">
  <link href="/flexslider.css" rel="stylesheet">
  <link href="/templatemo-style.css" rel="stylesheet">

<style>
    body{
        overflow: hidden;
    }
</style>
  </head>
  <body class="tm-gray-bg">
	  
  	<section class="tm-banner">
		<!-- Flexslider -->
		<div class="flexslider flexslider-banner">
		  <ul class="slides">
		    <li>
			    <div class="tm-banner-inner">
					<% console.log(data.name) %>
					<% console.log(data.orcid) %>
					<h1 class="tm-banner-title">Welcome <span class="tm-yellow-text"><%= data.name %></span></h1>
					<p class="tm-banner-subtitle"><span class="tm-yellow-text">ORCID ID </span><%= data.orcid %></p>
					<a href="/excel" class="tm-banner-link">Excel Sheet</a>	
				</div>
				<img src="res/banner-1.jpg" alt="Image" />	
		    </li>
		  </ul>
		</div>	
	</section>

	<!-- gray bg -->	
	<section class="container tm-home-section-1" id="more">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="tm-home-box-1">
						<ul class="nav nav-tabs tm-white-bg" role="tablist" id="hotelCarTabs">
							<li role="presentation" class="active">
								<a href="#hotel" aria-controls="hotel" role="tab" data-toggle="tab">Citation Count</a>
							</li>
						</ul>
	
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="hotel">
								<div class="tm-search-box effect2">
									<div class="tm-form-inner">
									<form action = "/search/citation" method = "GET" class="hotel-search-form">	
										<div class="form-group">
										<input class="form-control" type ="text" placeholder = "Scopus id " id="scopusId" name="scopusid">	
										</div>		
									</div>			
										<div class="form-group tm-yellow-gradient-bg text-center">
											<button type="submit" name="submit" id="citationSubmit" class="tm-yellow-btn">Submit</button>
										</div>  
									</form>
								</div>
							</div>				    
						</div>
					</div>		
				</div>								
			</div>

			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="tm-home-box-1">
					<ul class="nav nav-tabs tm-white-bg" role="tablist" id="hotelCarTabs">
						<li role="presentation" class="active">
							<a href="#hotel" aria-controls="hotel" role="tab" data-toggle="tab">Scopus Keyword</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="hotel">
							<div class="tm-search-box effect2">
								<div class="tm-form-inner">
								<form action = '/search/scopus' method = 'GET'class="hotel-search-form">	
									<div class="form-group">
									<input class="form-control" type ='text'id='keyWord' placeholder = 'Keyword' name='keyword'>	
									</div>		
								</div>			
									<div class="form-group tm-yellow-gradient-bg text-center">
										<button type="submit" name="submit" id="keywordSubmit" class="tm-yellow-btn">Submit</button>
									</div>  
								</form>
							</div>
						</div>				    
					</div>
				</div>				
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="tm-home-box-1">
					<ul class="nav nav-tabs tm-white-bg" role="tablist" id="hotelCarTabs">
						<li role="presentation" class="active">
							<a href="#hotel" aria-controls="hotel" role="tab" data-toggle="tab">Serial Title</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active tm-white-bg" id="hotel">
							<div class="tm-search-box effect2">
								<div class="tm-form-inner">
								<form action = '/search/serial' method = 'GET' class="hotel-search-form">	
									<div class="form-group">
									<input class="form-control" type ='text' id='issn' placeholder = 'ISSN' name='issn'>	
									</div>		
								</div>			
									<div class="form-group tm-yellow-gradient-bg text-center">
										<button type="submit" name="submit" id="issnSubmit" class="tm-yellow-btn">Submit</button>
									</div>  
								</form>
							</div>
						</div>				    
					</div>
				</div>				
			</div>
		</div>
	<script type="text/javascript" src="/jquery-1.11.2.min.js"></script>      		<!-- jQuery -->
  	<script type="text/javascript" src="/jquery.flexslider-min.js"></script>

   	<script type="text/javascript" src="/templatemo-script.js"></script>      		<!-- Templatemo Script -->
	<script>
		// HTML document is loaded. DOM is ready.
		$(function() {

			// https://css-tricks.com/snippets/jquery/smooth-scrolling/
		  	$('a[href*=#]:not([href=#])').click(function() {
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			      var target = $(this.hash);
			      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			      if (target.length) {
			        $('html,body').animate({
			          scrollTop: target.offset().top
			        }, 1000);
			        return false;
			      }
			    }
		  	});
		});
		
		// Load Flexslider when everything is loaded.
		$(window).load(function() {	  		
		    $('.flexslider').flexslider({
			    controlNav: false
		    });


	  	});
	</script>
 </body>
 </html>