<%- include ('partials/header'); -%>
<title>
    New Faculty
</title>
</head>
<body>
<div id="bodybox">
<form action = "/adding" method = "GET" >
    <input type ="text" id="facultyName" placeholder = "Faculty name " name="name">
    <input type ="text" id="scopusId" placeholder = "Scopus Id" name="scopusId">
    <input type = "text" id="authorId" placeholder = "Author Id" name = "authorId">
    <input id="addFaculty" type = "submit">
</form>
</div>
<%- include ('partials/footer.ejs'); -%>