<%- include ('partials/header'); -%>

<div id="bodybox">
<form action = "/adding" method = "GET" >
    <input type ="text" placeholder = "Faculty name " name="name">
    <input type ="text" placeholder = "Scopus Id" name="scopusId">
    <input type = "text" placeholder = "Author Id" name = "authorId">
    <input type = "submit">
</form>
</div>
<%- include ('partials/footer.ejs'); -%>