<%- include ('partials/header'); -%>

<form action = "/excel" method = "GET" >
    <input type ="text" placeholder = "Faculty name " name="orcid">
    <input type ="text" placeholder = "Scopus Id" name="password">
    <input type = "submit">
</form>

<%- include ('partials/footer.ejs'); -%>