<!DOCTYPE html>
<html>
    <head>
        <title>
            Scopus Search
        </title>
        <link rel = "stylesheet" type="text/css" href="/scopus.css">
        <link rel="scopus" href="http://www.scopus.com/inward/record.url?partnerID=HzOxMe3b&scp=49549114022&origin=inward"/>
    </head>
    <body>

<% var results = data[0]["text"]%>
<% var searchdata = JSON.parse(results) %>
<% var searchresults = searchdata["search-results"]["entry"] %>
<% console.log(searchresults[0]['error']) %>
<div id="bodybox">
    <h1>Scopus Search for the keyword</h1>
        <ul>
            <% for(var i=0;i<searchresults.length;i++) {%>
            <% var finalData = searchresults[i]["dc:title"]; %>
            <li>
                <h4><%=finalData%></h4>
            </li>
                <%}%>
        </ul>
</div> 

<%- include ('partials/footer.ejs'); -%>