<!DOCTYPE html>
<html>
    <head>
        <title>
            Scopus Citation Updater
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" type="text/css" href="/welcome.css">
        <link href="https://fonts.googleapis.com/css?family=Signika&display=swap" rel="stylesheet">
        <link rel="scopus" href="http://www.scopus.com/inward/record.url?partnerID=HzOxMe3b&scp=49549114022&origin=inward"/>
    </head>
    <body>
        <a href='/login'><div id="container">
    <h1>WELCOME TO SCOPUS CITATION UPDATER</h1>
</div></a>

<%- include ('partials/footer.ejs'); -%>